---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-center text-2xl text-violet-600 p-4">Welcome to <span class="text-red-600">Astro</span></h1>
		<div class="grid grid-cols-4 gap-x-3 gap-y-6 px-6">
			<Card/>
			<Card/>
			<Card/>
			<Card/>
			<Card/>
			<Card/>
			<Card/>
		</div>
	</main>
</Layout>
