---
import Header from "../components/Header";
import Footer from "../components/Footer";
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="application-name" content="PWA App Astro" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="PWA App" />
    <meta name="description" content="Best PWA App in the world" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="msapplication-TileColor" content="#2B5797" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="#6366F1" />
    <link rel="shortcut icon" href="/favicon.svg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="PWA App" />
    <meta property="og:description" content="Best PWA App in the world" />
    <meta property="og:site_name" content="PWA App" />
    <meta property="og:url" content="https://astro-poux.netlify.app/" />
    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header client:visible />
    <slot />
    <Footer />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>
  <script src="../../theme.js"></script>
  </body>
</html>
